/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #00cc14;

  --main-font-family: "Inter", sans-serif;
  --main-font-weight: 400;
  --second-font-weight: 700;
  --accent-font-family: "PressStart2P", fantasy;

  --text-color: var(--color-black);

  --bg-color: var(--color-white);
  --bg-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --like-main-body-color: none;
  --like-contour-color: var(--text-color);
  --like-sparks-color: #f00;

  --button-text-color: var(--bg-color);
  --button-border-color: var(--color-black);
}
